<nav>
  <h1>Hi.</h1>

  <a href="{{site.baseurl}}/">
    {% if site.data.theme.social.gravatar %}
    <img src="//www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=160" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="{{site.baseurl}}/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>

  <h3 style="text-align: center;">I'm <a href="{{site.baseurl}}/">{{ site.data.theme.name }}</a>.</h3>
  <p style="text-align: center;">Please feel free to contact me <em>{{ site.data.theme.email }}</em></a>.</p>

  <div id="social">
      {% include social.html %}
  </div>

  <h3 style="text-align: center;">Page Contents</h3>

  <div id="toc">
      {% include template_toc.html html=content h_min=2 h_max=3 %}
  </div>

  <h3 style="text-align: center;">References</h3>

  <div id="ref">
		<ul>
			<li>
				<a href="https://pinedance.github.io/zayo-gofang/formulafinder.html" target="_blank">상한론 처방 검색기</a>
			</li>
			<li>
				<a href="https://mediclassics.kr" target="_blank">한의학고전DB</a>
			</li>
		</ul>
  </div>

  <h3 style="text-align: center;">Tags</h3>

  <div id="tags">
    {% include tags.html %}
  </div>
</nav>
