p.ann {
	padding-left: 20px;
}

div.song {
	background: aliceblue;
}

div.text {
    margin: 10px 0px 10px 0px;
}

blockquote p {
	margin-bottom: 6px;
}

sub {
	font-size: 60%;
}

.origin blockquote {
	background: antiquewhite
}

.compare-set {
    border-radius: 10px;
    border: 1px solid antiquewhite;
    padding: 0px;
	margin: 5px 0px 5px 0px;
    width: 100%;
    height: auto;
}
