<nav>
  <h1>{{ site.data.theme.title }}</h1>

  <a href="{{site.baseurl}}/">
    {% if site.data.theme.social.gravatar %}
    <img src="//www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=160" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="{{site.baseurl}}/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>

  <h3 style="text-align: center;">I'm <a href="{{site.data.theme.contact}}/">{{ site.data.theme.author.name }}</a>.</h3>

  <!-- <p style="text-align: center;">Please feel free to contact me <em>{{ site.data.theme.author.email }}</em></a>.</p> -->

  <!-- <div id="homepage" class="icons-group">
      {% include layout/homepage.html %}
  </div> -->

  <div id="social" class="icons-group">
      {% include layout/social.html %}
  </div>

  <div id="issue" class="icons-group">
      {% include layout/error-report.html %}
  </div>
<!--
  <div id="contact" class="icons-group">
      {% include layout/contact.html %}
  </div>
-->

  <h3 style="text-align: center;">Page Contents</h3>

  <div id="toc">
      {% include toc.html html=content h_min=2 h_max=3 %}
  </div>

  <h3 style="text-align: center;">Tags</h3>

  <div id="tags">
    {% include layout/tags.html %}
  </div>
</nav>
