<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.data.theme.title }} | {{ page.title }}</title>
    <meta name="author" content="{{ site.data.theme.author.name }}" />
    <meta name="description" content="The blog of {{ site.data.theme.author.name }}" />
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">

    <!-- https://github.com/sfc-arch/remark-theme -->
    <link rel="stylesheet" type="text/css" href="https://sfc-arch.github.io/remark-theme/blue_standard/remark_theme_blue_standard.css"/>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/slideshow.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
  </head>
  <body>

	<!-- https://github.com/gnab/remark -->
      {{ content }}

    <script src="https://remarkjs.com/downloads/remark-latest.min.js">
    </script>
    <script>
      var slideshow = remark.create();
    </script>
  </body>
</html>
